/* Responsive */
@media only screen and (max-width: 1024px) {

}

/* #1 Header */

.header {
  background-color: #fff;
  height: auto;
  z-index: 1000;
  position: fixed;
  top: 1em;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  border-radius: 5em;
  padding: 0.2em 0.5em;
  border: 3px solid transparent;
  transition: border-color 0.3s ease, border-width 0.3s ease;
}

.header.bordered {
  border-color: #B510EC;
  border-width: 3px;
  box-shadow: 0 0 5px #B510EC;
}

.list-text {
  font-weight: bold;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.list-text li {
  font-size: 1em;
  margin-inline: 8px;
}

.list-text a {
  color: #000;
  text-decoration: none;
}


/* #2 Home */

.body {
  background-color: #fff;
  padding-top: 5em;
  width: auto;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
}


.images {
  padding: 0.5em;
  margin-right: 2em;

}

.images1 {
  border-radius: 100%;
  width: 12em; 
  display: block;
}

.info {
  color: #000;
  font-size: 1em;
  max-width: 50%;
}

.highlight {
  color: #B510EC;
}

.li_text{
  margin-top: 1.5em;
  display: flex;
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5em;
}

.li_text li{
  
  background-color: #f5f5f5;
  border: 1.5px solid #e4e4e4;
  border-radius: 1em;
  padding: 0.5em 1em;
  margin: 0 1em;
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
  transition: transform 0.3s ease;
}

.li_text li:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.li_text li svg {
  margin-right: 0.5em;
}

.li_text a {
  text-decoration: none;
  color: #000;
}

/* #3 Separator adn scroll */

.Separator {
  display: flex;
  justify-content: left;
  margin-left: 25%;
  color: #000;  
  font-weight: bold;
  margin-top: 3em;
  margin-block-end: 3em;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* #4 About me */

.txt_container {
  width: 80%;
  margin: 0 auto;
  border-radius: 1em;
  border-style: solid;
  border-color: #B510EC;
  box-shadow: 0 0 5px #B510EC;
}

.txt-me {
  color: #000;
  margin: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

.Separator2 {
  display: flex;
  justify-content: center;
}

.skills_container {
  width: 75%;
  max-width: 50em;
  margin: 0 auto;
}

.ls_skills {
  flex-wrap: wrap;
  gap: 0.5em;
  color: #000;
  list-style: none;
  font-weight: bold;
  font-size: auto;
  display: flex;
  justify-content: center;
  
}

.ls_skills li {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  border: 1.5px solid #e4e4e4;
  width: auto;
  height: auto;
  padding: 0.5em 1em;
  margin: 0 1em;
  margin-block: 8px;
  margin-inline: 1em;
  border-radius: 0.5em;
  transition: transform 0.3s ease;

}

.ls_skills :hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.ls_skills li svg {
  margin-right: 0.5em;
}


/* #4 Projects */

.card_container {
  width: 75%;
  white-space: inherit;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-block-end: 10px;
  background-color: #ffffff;
  border-radius: 0.2em;
  padding: 10px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin: 0 auto;
}

.card {
  width: 100%;
  height: 37em;
  border: 3px solid #B510EC;
  background-color: #f5f5f5;
  border-radius: 1em;
  padding: 0.5em 1em;
  box-sizing: border-box;
  transition: box-shadow 0.3s ease; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-link {
  display: flex;
  background-color: #fff;
  color: #B510EC;
  text-align: center; 
  justify-content: center;
  text-decoration: none;
  padding: 0.5em 1em;
  border: 3px solid #B510EC;
  border-radius: 5px;
  transition: 0.5s;
  box-shadow: 0 0 5px #B510EC;
  margin-top: -1em;
}

.btn-link:hover {
  border-color: #B510EC;
  background-color: #B510EC;
  color: #fff;
}

.product-slider {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.card:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.info_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: larger;
  color: #000;
}

.Card_img {
  width: 100%;
  height: auto;
  border-radius: 1em;
  margin-bottom: 1em;
}

/* #5 Experience */

.Container3 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

.Card_xp {
  display: flex;
  align-items: center;
  border-radius: 1em;
  padding: 1em;
  background-color: #f5f5f5;
  border: 2px solid #B510EC;
  max-width: 80%; 
  box-sizing: border-box;
  box-shadow: 0 0 5px #B510EC;

}

.Card_xp img {
  width: 12em; 
  height: auto;
  border-radius: 1em;
  margin-right: 1.5em;
}

.xp_info {
  flex: 1; 
}

.txt-xp {
  flex: 2;
  font-size: large;
  max-width: 100%;
}

.txt-desc {
  color: #000;
}

.Card_xp h2,
.Card_xp h3,
.Card_xp h3 {
  margin: 0; 
  padding: 0; 
}

.Card_xp h2 {
  color: #B510EC;
  font-size: 1.5em; 
}

.Card_xp h3 {
  color: #333; 
  font-size: 1.2em; 
}

.Card_xp h4 {
  color: #666; 
  font-size: 1em;
}

@media (max-width: 740px) {
  .Card_xp {
    flex-direction: column; /* Apila los elementos verticalmente */
    align-items: center; /* Centra el contenido */
    width: 100%;
  }

  .Card_xp img {
    margin: 0; /* Quita el margen derecho */
    width: 8em; /* Ajusta el tamaño de la imagen si es necesario */
  }

  .xp_info {
    text-align: center; /* Centra el texto en xp_info */
    margin-bottom: 1em; /* Espacio debajo de xp_info */
  }

  .txt-xp {
    font-size: medium; /* Ajusta el tamaño de la fuente si es necesario */
    text-align: center; /* Centra el texto en txt-xp */
  }

  .Card_xp h2 {
    font-size: 1.2em; /* Ajusta el tamaño del texto si es necesario */
  }

  .Card_xp h3 {
    font-size: 1em; /* Ajusta el tamaño del texto si es necesario */
  }

  .Card_xp h4 {
    font-size: 0.9em; /* Ajusta el tamaño del texto si es necesario */
  }
}

